@import 'tailwindcss';

:root {
  --color-primary-pink: #ff9b9b;
  --color-primary-brown: #88646a;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-zen: var(--font-zen-kaku);
  --color-primary-pink: var(--color-primary-pink);
  --color-primary-brown: var(--color-primary-brown);
  --animate-marquee: marquee 15s linear infinite;
  --animate-marquee2: marquee2 15s linear infinite;
}

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
